.home_wrapper {
  display: grid;
  grid-template-rows: (1fr, 3);
}

.navbar_wrapper {
  grid-row: 1;
}

.hero_wrapper {
  grid-row: 2;
}

.content_wrapper {
  grid-row: 3;

  display: grid;
  grid-template-columns: 20% 80%;

  @media {
  }
}

.aside_wrapper {
  background-color: #262626;
}

.sections_wrapper {
  background-color: #383838;
}
