.hero_container {
  width: 100%;
  height: 436px;
  background-color: black;
  position: relative;
}

.hero_container img {
  width: 100%;
  height: 100%;
}

.hero_image {
  object-fit: cover;
  object-position: top;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.hero_information {
  position: absolute;
  bottom: 220px;
  width: 100%;
  z-index: 3;
  padding: 24px;

  @media (min-width: 426px) {
    width: 60%;
    bottom: 0;
    margin: 0;
    margin-left: 60px;
  }
}

.hero_information h2 {
  cursor: pointer;
  font-weight: 700;
  font-size: 35px;
}
.hero_information h3 {
  font-weight: 700;
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.hero_details {
  background-color: black;
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-around;
  }
}

.hero_menu {
  grid-row: 2;
  margin: 24px 76px;
}

.hero_menu ul {
  display: flex;
  gap: 30px;

  @media (min-width: 768px) {
    gap: 70px;
    justify-content: space-around;
  }
}
.hero_menu li {
  cursor: pointer;
}

.dots_progress_bar {
  grid-row: 1;
  justify-self: center;
}

.user_selectors {
  display: flex;
  justify-content: center;
  gap: 70px;
  grid-row: 3;
}

.favorite_logo {
  cursor: pointer;
}
.saved_logo {
  cursor: pointer;
}

.share_logo {
  cursor: pointer;
}

.circle_progress_bar {
  position: absolute;
  top: 258px;
  right: 120px;
}
